@page "/forms"
<h3>Forms</h3>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
    <script src='https://cdn.form.io/js/formio.full.min.js'></script>
</head>
<body>
<div id='builder'></div>
<script type='text/javascript'>
      Formio.builder(document.getElementById('builder'), {}, {});
    </script>
</body>