@page "/instance/{InstanceGuid:guid}"
<h3>Instance</h3>



<div class="content with-diagram" id="designer-container" >
    <div class="canvas" id="js-canvas"></div>
    <div class="properties-panel-parent" id="js-properties-panel"></div>
</div>



<script src="public/app.js"></script>
