.main-content{
    height: 100%;
}

::deep #new-button
{
    width: 100%;
}

.grid-row-title{
    font-weight: bold;    
}

.grid-row-title a,
.grid-row-title a:visited{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon
{
    color: #317145;
    font-size: 30px;
    margin-right: 20px;
}

.list-header{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

