<div id="header">
    <div id="titel-info" >
        <a href="@BackLink"><i class="fa-solid fa-chevron-left"></i></a>
        @LeftSide
    </div>
    <div>
        @RigthSide
    </div>
        
    

</div>
