@using Microsoft.FluentUI.AspNetCore.Components

@if (TitleEditMode)
{
    <FluentTextField @bind-Value=@Label AriaLabel="No label" @onkeyup="OnTitleEditKeyUp"></FluentTextField>
}
else
{
    <span id="current-file-name">@Label</span>
}
<button class="button-flat" aria-label="Edit name" @onclick="ToggleTitleEditMode"><i class="fa-solid fa-pencil" aria-hidden="true"></i></button>
