@using Microsoft.FluentUI.AspNetCore.Components

<div class="label-edit-row">
    @if (TitleEditMode)
    {
        <FluentTextField @bind-Value=@Label AriaLabel="Edit name" @onkeyup="OnTitleEditKeyUp" autofocus></FluentTextField>
    }
    else
    {
        <span id="current-file-name">@Label</span>
    }
    <button type="button"
            class="label-edit-btn @(TitleEditMode ? "label-edit-btn-save" : "")"
            title="@(TitleEditMode ? "Save name" : "Edit name")"
            @onclick="ToggleTitleEditMode">
        <i class="fa-solid @(TitleEditMode ? "fa-check" : "fa-pencil")" aria-hidden="true"></i>
    </button>
</div>
